:root {
/*--primary-color: #000119;*/
    --secondary-color: #FE4701;
    --text-light: #ffffff;
    --text-dark: #333333;
    --card-hover-border: 3px solid #f77f00;
}
html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #00010d;
    /* background-color: var(--primary-color); */
    color: var(--text-light);
}

/*  CABEÇALHO / NAV */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: var(--primary-color);
    position: absolute;
    width: 100%;
    z-index: 10;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.header.aparecer{
    opacity: 1;
    transform: translateY(0);
}
.logo {
    width: 120px;
    height: auto;
}

.logo img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 60px;
}

.logo strong {
    font-weight: 700;
}
.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-items: center;
    
}

.nav a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: color 0.3s;
}

.nav a:hover {
    color: var(--secondary-color);
}

.btn-login {
    background-color:var(--secondary-color);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-alugar:hover {
    background-color: #ddd;
}

    
.botoes-header {
    display: flex;
    gap: 15px; 
}
.btn-login:hover {
    background-color: var(--text-light);
    color: var(--text-dark);
}
.hero_section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('imagens/voleiareia_inicio.jpg') no-repeat center center/cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero_content {
    padding-top: 100px;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.hero_content.aparecer{
    opacity: 1;
    transform: translateY(0);
}

.hero_content h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-family: Stencil Std, fantasy;
    letter-spacing: 4px
}

.hero_content p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.btn-cta {
    background-color: var(--secondary-color);
    color: var(--text-light);
    text-decoration: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-cta:hover {
    background-color: #FE4701;
}

/*SEÇÃO DOS ESPORTES*/

.sports-cards-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -100px; /* Puxa os cards para cima*/
    padding: 0 50px;
    position: relative;
    z-index: 5;
}

.card {
    width: 30%;
    min-height: 400px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    /* border: 3px solid transparent; */
}

.card:hover {
    border: var(--card-hover-border);
    transform: translateY(-10px); /* Efeito sutil de levantar */
}

.card-content {
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente para o texto */
    padding: 15px;
    border-radius: 5px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.4;
}

/* Imagens dos Cards*/
.beach-tennis {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%), url('imagens/Beach\ tennis.webp');
    transition: all 0.3s ease;
}
.beach-tennis:hover{
    transform: translateY(-10px); /* Efeito sutil de levantar */
}

.futsal {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%), url('imagens/futsal2.jpg');
}

.voleibol {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 80%), url('imagens/VOLEIareia.jpg');
}

hr{
    margin-top: 50px;
    height: 1px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    margin-bottom: -10px;
    
    
}
/*SEÇÃO DE ARENAS*/

.arenas-section {
    padding: 80px 50px;
    width: 100%;
}

/* Título */
.titulo-arenas {
    text-align: center;
    margin-bottom: 60px;
    font-family: Stencil Std, fantasy;
    font-size: 30px;
    letter-spacing: 2px
}

/* GRID PRINCIPAL */
.arena-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

/* IMAGEM */
.arena-imagem img {
    width: 600px;     /* << tamanho ideal */
    border-radius: 12px;
    display: block;
}

/* TEXTOS À DIREITA */
.arena-textos {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 689px;      /* << largura ideal */
}

/* CARTÕES */
.arena-card {
    background: rgba(255, 255, 255, 0.07);
    padding: 20px;
    border-radius: 12px;
}

.arena-card h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

.arena-card p {
    font-size: 16px;
    line-height: 1.45;
}

/* MOBILE */
@media(max-width: 900px) {

    .arena-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .arena-imagem img {
        width: 100%;
    }

    .arena-textos {
        width: 100%;
    }
}


.sectionContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
}

.icons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: -12;

}

.icons img {
    width: 30px;
}

.direitos{
    margin-top: 15px;
    margin-bottom:  -30px;
}
